<h2 class="page-title">
    Alunos
</h2>

<!-- /.row -->
<div class="row">
    <!-- /.col-lg-12 -->
    <div class="col-lg-12">
        <section class="widget">
            <div class="body">

                <form id="aluno-form" role="form"  novalidate ng-submit="save()">
                    <fieldset>
                        <div class="form-actions">
                            <div class="btn-toolbar">
                                <button type="submit" name="action" class="btn btn-info pull-right" ng-if="!isUpdate">
                                    <i class="fa fa-save" style="margin-right:4px;" id="show-info-message"></i> Salvar
                                </button>

                                <button type="submit" name="action" class="btn btn-info pull-right" ng-if="isUpdate">
                                    <i class="fa fa-save" style="margin-right:4px;" id="show-info-message"></i> Salvar
                                </button>

                                <button type="button" name="action" class="btn btn-warning pull-right" ng-click="limparForm()">
                                    <i class="fa fa-rotate-left" style="margin-right:4px;" id="show-info-message"></i> Limpar
                                </button>

                                <button type="button" name="action" class="btn btn-outline btn-danger pull-right" ng-if="isUpdate" ng-if="aluno.id" data-toggle="modal" data-target="#confirm-delete">
                                    <i class="fa fa-trash" style="margin-right:4px;" id="show-info-message"></i> Excluir
                                </button>
                            </div>
                        </div>

                        <legend class="section">Cadastrar Aluno</legend>

                        <div class="row">
                            <input id="id" name="id" ng-model="aluno.id" type="hidden">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="nome">Nome</label>
                                    <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome do Aluno" required ng-model="aluno.nome">
                                    <span style="color:red" ng-show="aluno-form.nome.$dirty && aluno-form.nome.$invalid">
  <span ng-show="aluno-form.nome.$error.required">Username is required.</span>
  </span>
                                    <span ng-show="aluno-form.nome.$touched && aluno-form.nome.$invalid">O nome não pode ser nulo.</span>
                                    <ul class="parsley-errors-list filled" id="nome-errors"></ul>

                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input type="text" id="email" name="email" class="form-control" placeholder="E-mail do Aluno" ng-model="aluno.email">
                                    <ul class="parsley-errors-list filled" id="email-errors"></ul>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="nascimento">Nascimento</label>
                                    <input type="date" id="nascimento" name="nascimento" class="form-control go-date-style" placeholder="dd/MM/yyyy" ng-model="aluno.nascimento"/>
                                    <ul class="parsley-errors-list filled" id="nascimento-errors"></ul>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="sexo">Sexo</label>
                                    <select data-width="auto" name="sexo" id="sexo" ng-model="aluno.sexo"
                                            data-minimum-results-for-search="10" tabindex="-1"
                                            class="select2 form-control" id="default-select" data-parsley-required>
                                        <option value="M">Masculino</option>
                                        <option value="F">Feminino</option>
                                    </select>
                                    <ul class="parsley-errors-list filled" id="sexo-errors"></ul>
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="situacao">Situação</label>
                                    <div class="input-group">
                                        <div id="situacao" class="btn-group" data-toggle="buttons">
                                            <input type="checkbox" name="situacao" ng-model="aluno.situacao"> Ativo
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <div id="confirm-delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel">Confirmar Exclusão</h4>
                            </div>
                            <div class="modal-body">
                                <p>Confirma a exclusão do registo?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-danger" ng-click="delete()">Confirmar</button>
                            </div>

                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>

                <fieldset>
                    <legend class="section" style="font-weight: 600;">Alunos</legend>

                    <div class="dataTable_wrapper">
                        <table go-data-table edit-ctl="edit" ajax="../api/aluno/paginar" id="dataTables-alunos"
                               class="display table table-hover" cellspacing="0" width="100%">
                            <thead>
                                <tr style="background: #F5F5F5;">
                                    <th go-data-table-item name="id" style="width: 5%">Id</th>
                                    <th go-data-table-item name="nome" style="width: 40%">Nome</th>
                                    <th go-data-table-item name="email" style="width: 15%">Email</th>
                                    <th style="width: 5%"></th>
                                </tr>
                                <tr style="background: #F5F5F5;">
                                    <th><input id="id-search" type="text" placeholder="Id"/></th>
                                    <th><input id="nome-search" type="text" placeholder="Filtrar por Nome"/></th>
                                    <th><input id="email-search" type="text" placeholder="Filtrar por Email"/></th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>

                    </div>

                </fieldset>

            </div>
            <!-- /.panel-body -->

        </section>
        <!-- /.panel -->
    </div>


</div>