<h2 class="page-title">
    Alunos
</h2>

<!-- /.row -->
<div class="row">
    <!-- /.col-lg-12 -->
    <div class="col-lg-12">
        <section class="widget">
            <div class="body">

                <form go-form id="aluno-form" go-form-action="/sat2-app/api/aluno" go-form-on-error-msg="Deu erro!"
                      go-form-redirect="#/aluno-lista-pag-padrao" go-form-model="aluno"
                      role="form" go-form-on-error-fn="erroAoSalvar">
                      <!--go-form-on-success-fn="sucessoAoSalvar" [opcional]-->
                      <!--go-form-on-error-fn="erroAoSalvar" [opcional] -->

                    <fieldset>
                        <div class="form-actions">

                            <div class="btn-toolbar">
                                <button go-submit ng-click="goFormSubmitFn()" type="button" name="action" class="btn btn-primary pull-right" ng-if="!isUpdate && isAllowed('CadastroAluno.I')">
                                    <i class="fa fa-save" style="margin-right:4px;" id="show-info-message"></i> Salvar
                                </button>

                                <button go-submit ng-click="goFormSubmitFn()" type="button" name="action" class="btn btn-primary pull-right" ng-if="isUpdate && isAllowed('CadastroAluno.A')">
                                    <i class="fa fa-save" style="margin-right:4px;" id="show-info-message"></i> Salvar
                                </button>

                                <button type="button" name="action" class="btn btn-warning pull-right" ng-click="limparForm()">
                                    <i class="fa fa-rotate-left" style="margin-right:4px;" id="show-info-message"></i> Limpar
                                </button>

                                <button type="button" name="action" class="btn btn-outline btn-danger pull-right" ng-if="isUpdate && isAllowed('CadastroAluno.E')" ng-if="aluno.id" data-toggle="modal" data-target="#confirm-delete">
                                    <i class="fa fa-trash" style="margin-right:4px;" id="show-info-message"></i> Excluir
                                </button>
                            </div>
                        </div>


                        <legend class="section">Cadastrar Aluno</legend>
                        <div class="row">
                            <input id="id" name="id" ng-model="aluno.id" type="hidden">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="nome">Nome</label>
                                    <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome do Aluno" ng-model="aluno.nome">
                                    <ul class="parsley-errors-list filled" id="nome-errors"></ul>

                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input type="text" id="email" name="email" class="form-control" placeholder="E-mail do Aluno" ng-model="aluno.email">
                                    <ul class="parsley-errors-list filled" id="email-errors"></ul>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="nascimento">Nascimento</label>
                                    <input type="date" id="nascimento" name="nascimento" class="form-control go-date-style" placeholder="dd/MM/yyyy" ng-model="aluno.nascimento"/>
                                    <ul class="parsley-errors-list filled" id="nascimento-errors"></ul>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="sexo">Sexo</label>
                                    <select data-width="auto" name="sexo" id="sexo" ng-model="aluno.sexo"
                                            data-minimum-results-for-search="10" tabindex="-1"
                                            class="select2 form-control" id="default-select" data-parsley-required>
                                        <option value="M">Masculino</option>
                                        <option value="F">Feminino</option>
                                    </select>
                                    <ul class="parsley-errors-list filled" id="sexo-errors"></ul>
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="situacao">Situação</label>
                                    <div class="input-group">
                                        <div id="situacao" class="btn-group" data-toggle="buttons">
                                            <input type="checkbox" name="situacao" ng-model="aluno.situacao"> Ativo
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                </form>

                <div id="confirm-delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel">Confirmar Exclusão</h4>
                            </div>
                            <div class="modal-body">
                                <p>Confirma a exclusão do registo?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-danger" ng-click="delete()">Confirmar</button>
                            </div>

                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>


            </div>
            <!-- /.panel-body -->

        </section>
        <!-- /.panel -->
    </div>


</div>